@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", system-ui;
  color: #333
}

*:before, *:after {
  box-sizing: inherit;
}

body{
  background-color: #333;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

.card-box {
  background-color: #FAF9F6;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 0px #faf9f636;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.form-row label {
  font-weight: 500;
}

.btn {
  border-radius: .25em;
  padding: 0.30em 1em;
  cursor: pointer;
  font-weight: 500;
}

.btn.btn-add {
  background-color: rgba(51, 51, 51, 0.1);
  border: 1px solid rgba(51, 51, 51);
  color: rgba(51, 51, 51);
  padding: 0.40em 1em;
}

.btn.btn-edit {
  background-color: hsla(249, 100%, 40%, 0.1);
  border: 1px solid hsl(249, 100%, 40%);
  color: hsl(249, 100%, 40%);
}

.btn.btn-danger {
  background-color: hsl(0, 100%, 40%, 0.1);
  border: 1px solid hsl(0, 100%, 40%);
  color: hsl(0, 100%, 40%);
}

.btn.btn-add:hover,
.btn:focus-visible {
  background-color: rgba(51, 51, 51, 0.2);
}

.btn.btn-edit:hover,
.btn:focus-visible {
  background-color: hsl(249, 100%, 40%, 0.2);
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
  }


.text-input {
  border: 1px solid #3333337c;
  border-radius: 0.25em;    
  padding: 0.25em 0.5em;
  color: #333;
}

.text-input:focus {
  border: 1px solid #333;
}

.header {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  list-style: none;
}

.list li:has(input:checked) label {
  color: #33333383;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.list li:has(input:checked) label:hover {
  color: #333;
} 

.list li .todo-checkbox {
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background: rgba(51, 51, 51, 0.1);
  border: 1px solid rgba(51, 51, 51);
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li label:hover::before {
  background-color: rgba(51, 51, 51, 0.2);
}

.list li:has(input:checked) label::before {
  content: "✔";
  background-color: rgba(51, 51, 51, 0.5);
  border: 1px solid rgba(51, 51, 51, 0.5);
  color: #FAF9F6;
  font-size: 0.75rem;
  font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
  background-color: rgba(51, 51, 51);
}